
  <div class="panel panel-default formPanel">  

  <%= bootstrap_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
        <% unless current_user.role == 'admin' %>
          <div id="tip">
          <p>We need to know who you are.</p>
          </div>
        <% end %>
        <!-- fields for Customer object -->
        <%= f.select :title, options_for_select(['Dr.', 'Mr.', 'Mrs.', 'Ms.', 'Mx.']) %>
        <%= f.text_field :firstname, required: true %>
        <%= f.text_field :lastname, required: true %>
        <%= f.text_field :phone1, required: true %>
        <%= f.text_field :phone2 %>
        <%= fields_for :address do |fa| %>
          <%= fa.text_field :address1, required: true %>
          <%= fa.text_field :address2 %>
          <%= fa.text_field :zip_code_zip_code, required: true %>
         <% end %>

      <br />
      <div class="actions">
        <ul id="formButtonGroup">
          <% if current_user.role == 'admin' %>
            <li><%= f.submit "Update", :class => "btn btn-primary"%></li>
          <% else %>
            <li><%= f.submit "Next", :class => "btn btn-success" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
