
  <div class="panel panel-default formPanel" style="width: 50%; padding: 0 25px;">  

  <%= bootstrap_form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
        
        <div id="tip">
        <p>Tell us where you get your mail.</p>
        </div>
        <!-- fields for Customer object -->
        <%= f.text_field :address1, autofocus: true, :label => "Address 1", required: true %>
        <%= f.text_field :address2, :label => "Address 2" %>
        <%= f.text_field :zip_code_zip_code, :label => "Zip Code", required: true%>
        <%= f.hidden_field :customer_id, :value => params[:customer_id] %>

      <br />
      <div class="actions">
        <ul id="formButtonGroup">
          <% if current_user.role == 'admin' %>
            <li><%= f.submit "Update", :class => "btn btn-primary"%></li>
          <% else %>
            <li><%= f.submit "Finish", :class => "btn btn-success" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
