<% content_for :admin_content do %>
  <h3 class="table-heading"><%= @table_heading %></h3>
  <%= form_tag manage_customers_administrator_path, :method => 'get', :id => "search-form" do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search Customers'  %>
      <%= select_tag("search_criteria", options_for_select([['by customer id', '1'],['by customer last name', '2']], selected: '1')) %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
  <br />
    <%= paginate (@customers) %>
    <table id="indexTable" class="table table-striped">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th class="hide-small">Customer Name</th>
          <th class="hide-small hide-medium hide-large">Phone</th>
          <th class="hide-small hide-medium">Email</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td class="hide-small"><%= customer.lastname %>, <%= customer.firstname %></td>
            <td class="hide-large"><%= customer.phone1 %></td>
            <td class="hide-medium"><%= mail_to customer.user.email %></td>
            <td><%= link_to 'Edit', edit_customer_path(customer), :class => "btn btn-default" %></td>
            <td><%= link_to 'Details', customer_path(customer), :class => "btn btn-default" %></td>
             <td><%= link_to 'Address', edit_customer_address_path(:customer_id => customer.id), :class => "btn btn-default" %></td>            

          </tr>
          <% end %>
      </tbody>
    </table>
    <%= paginate (@customers) %>
  <br />
  <%= link_to 'Back', :back, :class => "btn btn-primary formButton"  %>
   <%= link_to 'Create Customer', new_user_registration_path, :class => "btn btn-primary formButton"  %>
<% end %>
