<!--  Barnabas Bulpett
      WEB-289-YD1
      Spring 2015
      acct_transactions/_form.html.erb
-->
<!-- Dynamically generated partial for AcctTransaction model forms-->
<main>
<div class="panel" style="margin: 10px; padding: 20px;">  

  <%= bootstrap_form_for(@acct_transaction) do |f| %>
  <% if @acct_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acct_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @acct_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
        <!-- pre-filled (static) fields -->
        <p>Transaction Type: <strong><%= @trans_type %> Transfer</strong>
          <br />
          Date: <strong><%= Time.now.to_date %></strong></p>
        <!-- fields for AcctTransaction object -->
    <%= f.text_field :description, :style =>"max-width: 550px;" %>
    <%= f.text_field :amount, :style =>"width: 160px;" %>
    <%= f.hidden_field :account_id, :value => params[:account_id] %>
    <%= f.hidden_field :transaction_type_id, :value => @acct_transaction.transaction_type_id %>     
    <%= f.fields_for :wire_transfers do |wire| %>
     <%= wire.text_field :bank_account, :label => "Bank Account Number", :style =>"max-width: 250px;" %>
     <%= wire.text_field :routing, :label => "Bank Routing Number", :style =>"max-width: 350px;" %>
      <%= wire.text_field :bank_name, :label => "Bank Name", :style =>"max-width: 350px;" %>
     <%= wire.text_field :bank_country, :label => "Bank Country", :style =>"max-width: 250px;" %>

     <%= wire.text_field :recipient_name, :label => "Recipient Name", :style =>"max-width: 550px;" %>
     <%= wire.text_field :address, :label => "Recipient Address", :style =>"max-width: 550px;" %>
     <%= wire.text_field :city, :label => "Recipient City", :style =>"max-width: 350px;" %>
     <%= wire.text_field :state, :label => "Recipient State", :style =>"max-width: 350px;" %>
     <%= wire.text_field :country, :label => "Recipient Contry", :style =>"max-width: 250px;" %>
     <%= wire.telephone_field :phone, :label => "Recipient Phone", :style =>"max-width: 250px;" %>
    <% end %>

      <div class="actions">
        <%= f.submit "Complete Transaction", :class => "btn btn-info"%>
      </div>
    <% end %>
  </div>
</main>
